# Python Basics

Every programming language needs its basic datatypes. In Python it is pretty straight forward. You will tyically only every care about numbers and text. For now we will ignore that we already know that everything is an object. For now let's have a brief overview of the basic datatypes.

In [2]:
#Text
"Hello World"

'This is a string'

'I can make a string as long as I want it to be.'

"""If I care about multiple lines,
I can have them with triple quotes"""

#Double and single quotes are equivalent, you can choose either.
#Except you can use a single quote within a double quote and vice versa

#Notice how Jupyter notebook displays the last thing returned in the cell.
#Will will talk much more about this development environment later.

'If I care about multiple lines,\nI can have them with triple quotes'

In [23]:
#We can add two strings together using the + symbol
#The + symbol can be used for a lot of things in python
#This is called an overloaded method/operator.
#We can't do subtraction because it isn't obivous what that would mean.
"Hello " + "World"

'Hello World'

In [4]:
#Numbers
1
2
3

4.21
3.14
9999999999999999999999999999999999999.9999999999999999

#Numbers can come as integers or as floating point numbers.
#You don't have to worry about how big your number gets in standard python.
#But for floating point numbers, you might want to keep an eye
#on arithmetic involving floating point arithmetic

1e+37

In [16]:
#Mathematics works how you would expect
2 + 4

6

In [17]:
4.2 * 8.1

34.02

In [18]:
#Careful though, sometimes passing two integers
#returns a float which matter sometimes.
7 / 3

2.3333333333333335

In [19]:
#If we want this to round and just give us the divisor we can do this:
7 // 3

2

In [5]:
#Sometimes you want to convert a float to an int or an int to a float
int(3.0)

3

In [6]:
float(4)

4.0

In [7]:
#Int will round if not given a proper integer.
int(3.14)

3

In [12]:
#We can also convert numbers to strings and strings to numbers
str(3.12)

'3.12'

In [14]:
#Note that functions like int, str, and float exist entirely in the global namespace
#You do not need to import anything to use them. There are not many of these, and are
#kind of a special case when working with Python.
int("5")

5

# Methods on data

Sometimes data comes with a bunch of methods we can use to convert it to something else. For strings we can do a lot of things: Capitalize, lowercase, shift characters, add spaces, etc. We can create some of these functions ourselves.

In [1]:
"HELLO WORLD".lower()

'hello world'

In [2]:
"this is all lower case, but not for long".upper()

'THIS IS ALL LOWER CASE, BUT NOT FOR LONG'

If we want to be able to see all methods associated with a particular datatype in vanilla python, we can call the dir function to see all of them.

In [3]:
dir("hello world")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Jupyter has built in functions that allow us to quickly inspect these functions if we are interested. Again, we will look at this later, but if you find yourself needing to find a function that works in a particular way, going straight to the documentation is a good start. For instance, <a href="https://docs.python.org/2/library/string.html">here is the link</a>  to the documentation on strings.

# Storing data

The easiest way to store data is by assigning that data to variables.

In [5]:
a_variable = 3.14
another_var = 5
a_variable + another_var

8.14

In [9]:
a_string_var = "hello world"
a_string_var

'hello world'

Sometimes in programming lanuages you would need to declare what type of data your variable will reference. (int string_var;) This would be useful because your computer can decide how much memory to allocate right away and make appropriate optimizations later. This is the major downside of Python as a programming language. It is slow and it is interpreted, making optimizations more difficult. However, the strength of Python comes from its readability and semantic organization. This makes it extremely good at being a "glue" language for optimized code written in other languages. This way you can get the benefit of having an "easy to understand" language with all of the benefit of running code with the lower level langauges.

Sometimes we can't just deal with variables to store all of our data. If we have a grocery list, it makes no sense to have a separate variable for each item. For this Python has a list datatype which can hold many pieces of smaller data.

In [22]:
groc_ls = ['eggs', 'bread', 'milk', 'toast']
groc_ls

['eggs', 'bread', 'milk', 'toast']

In [24]:
#Some languages require languages to have all the same datatype. Python lists are super flexible.
#Any element can be any datatype, including another list!
#If we want to add an element to a list, we can use the append() method
groc_ls.append('oranges')

In [25]:
groc_ls

['eggs', 'bread', 'milk', 'toast', 'oranges']

Notice how the .append method did not retern a value! It just modified the variable we already have. This is because a list is an immutable datatype. This is in contrast to a string which is not. We can create new strings with strings, but we cannot change the data represented by that variable. *Discus mutability here*

In [26]:
#The immutable equivalent of a list is a tuple. You can create it like this:
groc_tup = ('eggs', 'bread', 'milk', 'toast')
groc_tup

('eggs', 'bread', 'milk', 'toast')

In [27]:
#You will not be able to append to this:
groc_tup.append('oranges')

AttributeError: 'tuple' object has no attribute 'append'

# Importance of "objects" in Python

This brings up an extremely important concept in  Python and other programming langauges. Every datatype in Python is a type of object. Objects have a few important functions. They:
    1. Store data for you in some form. (Think of this as the 'state' of an object)
    2. Contain methods which allows you to return new values. (This can be the same datatype or a different datatype.)
    3. Contain methods which change the state of the object.
    
We used an object in Lesson 0 when I made a MoneyTracker object. The state was the amount of money I made and the last price I bought the stock at. It contained only one method which both updated the state and returned the current earnings ratio.

In [28]:
#A string never changes its state. You can only create new strings from data copied from it
#A list can change states
#We will discuss objects more in depth when we create our own objects.

# When to use these datatypes

You may look at lists and think they would be good for storing values as a matrix. This is not really the case. Lists are good for grabing data that you want to stack. Lists are not good for fast matrix multiplication. If you want to do matrix multiplication you will hae to implement this logic yourself anyway. This is not useful

In [10]:
#Lists are for keeping track of data
phd_students = ["erik", "lars", "jorge", "mikayle", "david"]
phd_students.append("emma")
phd_students

['erik', 'lars', 'jorge', 'mikayle', 'david', 'emma']

In [11]:
#Tuples are good for permenant data that will persist.
erik = ("Erik", "Gaasedelen", 24, "BICB")
lars = ("Lars", "Mattison", 42, "BME")

# Dictonaries

Dictionaries are a fantastic datatype. They allow the storage of key-value relations between data. Data can be retrieved with these keys in log time vs linear time for lists. Is nice if you have a key value relation of, for instance, DNA sequences and their counts within a genome. Key important concept: There are sometimes faster ways to store data.

In [14]:
favorite_book_dict = {"Erik": "Godel Escher Bach", "Lars": "Some running book"}

In [15]:
favorite_book_dict["Lars"]

'Some running book'

We can use anything we want as values in the dictionary, but keys are restrictive. We can only use keys that won't change/are immutable. tuples can be used as keys. lists cannot.

In [17]:
favorite_book_dict = {erik: "Godel Escher Bach", lars: "Some running book"}

In [18]:
favorite_book_dict[phd_students] = "Handbook of Cardiac Anatomy"

TypeError: unhashable type: 'list'

These are the most important datatypes in the standard Python library. More powerful datatypes in Python are either extensions of these ones and/or new objects backed by C++ functions to make them super fast.

# Control Flow

In [19]:
#if else statements
#Tabs and colons signify blocks of code.
curr_price = 10
if curr_price > 8:
    print("sell")
else:
    print("hold")

sell

In [ ]:
#Adding elif statement
if curr_price > 8:
    print("sell")
elif curr_price < 4:
    print("buy")
else:
    print("hold")

In [21]:
#Loops
#A while loop simply continues until 
x = 0
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [22]:
#for loops iterate over an iterable. This can be a list or tuple for example
for student in phd_students:
    print(student)

erik
lars
jorge
mikayle
david
emma

In [23]:
#There is an important built in function called range which gives you numbers
#up to but not including a number.
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
for i in range(5,10):
    print(i)

5
6
7
8
9

# List comprehensions

In [25]:
#Sometimes we want to perform an operation on every element of a list
#We could do this in a for loop like this.
upper_case_phds = []
for student in phd_students:
    upper_case_phds.append(student.upper())
upper_case_phds

['ERIK', 'LARS', 'JORGE', 'MIKAYLE', 'DAVID', 'EMMA']

In [26]:
#Or we could just do this all in one line:
[student.upper() for student in phd_students]

['ERIK', 'LARS', 'JORGE', 'MIKAYLE', 'DAVID', 'EMMA']

These are called list comprehensions and can be used to map or filter data. I use them a lot in everyday work.

# Functions

In [27]:
#Name the function, in this case "hello"
#Give it arguments, in this case text
#give a return statement to that function if you want it to return a value.
def hello(text):
    return "hello " + text

In [35]:
my_text = hello("world")
my_text

'hello world'

In [36]:
#functions can be given named arguments with defaults
def hello(text, punct="."):
    return "hello " + text + punct
hello("world")

'hello world.'

In [37]:
hello("world", "!")

'hello world!'

# Infamous Fizz Buzz Problem

In [38]:
#iterate from 0 to n. If you get to a multiple of three,
#print fizz. If multiple of 5 print buzz.
#If multiple of both, print FizzBuzz

#Typical implementation
def fizzbuzz(n):
    for i in range(0,n):
        #Notice the double equals here!!
        #And we have introduced the modulus operator!
        if i % 3 == 0 and i % 5 == 0:
            print("FizzBuzz")
        elif i % 3 == 0:
            print("Fizz")
        elif i % 5 == 0:
            print("Buzz")

In [40]:
fizzbuzz(18)

FizzBuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
FizzBuzz

In [42]:
#Alternate implementation
def fizzbuzz(n):
    for i in range(0,n):
        out = ""
        if i % 3 == 0:
            out += "Fizz"
        elif i % 5 == 0:
            out += "Buzz"
        if out != "":
            print(i, out)

In [43]:
fizzbuzz(20)

0 Fizz
3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 Fizz
18 Fizz

# Linking this all back up to objects.

In [44]:
#Numbers are objects:
dir(5)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [51]:
(5).__add__(6)

11

In [53]:
#Is the same as 
#Infix notation is arbitrary. It is syntactic sugar. Makes life easier for us.
5 + 6

11

In [55]:
#Strings also have lots of methods and properties
dir("hello world")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [56]:
"hello world".split(" ")

['hello', 'world']

In [57]:
dir(phd_students)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [58]:
phd_students.sort()
phd_students

['david', 'emma', 'erik', 'jorge', 'lars', 'mikayle']

# Bring this back to Pandas and Numpy

In [61]:
import pandas as pd
import numpy as np

In [63]:
rand_arr = np.random.random((10,10))

In [64]:
rand_arr

array([[ 0.76598036,  0.26622801,  0.43621818,  0.60063919,  0.84231468,
         0.60165801,  0.89937411,  0.65316596,  0.45493577,  0.7527959 ],
       [ 0.79154838,  0.83279706,  0.76975161,  0.64443875,  0.6207478 ,
         0.35726474,  0.63228952,  0.51628505,  0.37884777,  0.77639672],
       [ 0.47253574,  0.77226709,  0.56979087,  0.46342519,  0.14438544,
         0.80617961,  0.31326394,  0.6771264 ,  0.54470543,  0.00299075],
       [ 0.71316539,  0.35161118,  0.68391696,  0.777979  ,  0.23839437,
         0.30514391,  0.9521189 ,  0.71137207,  0.79573995,  0.10368874],
       [ 0.81988098,  0.56896872,  0.08604797,  0.48410214,  0.97564305,
         0.19172189,  0.95468184,  0.8427705 ,  0.46621043,  0.22498018],
       [ 0.01409391,  0.52306012,  0.544521  ,  0.24866307,  0.59102704,
         0.46277995,  0.68626431,  0.08469175,  0.87414915,  0.91124935],
       [ 0.19746951,  0.60773579,  0.86827602,  0.8084157 ,  0.75030886,
         0.51246248,  0.34268923,  0.45640236,  0.69460238,  0.78296125],
       [ 0.65628478,  0.12236896,  0.53572243,  0.55420026,  0.56562   ,
         0.37437576,  0.09010307,  0.90973638,  0.4060271 ,  0.57777829],
       [ 0.8071032 ,  0.06831171,  0.1473094 ,  0.08243687,  0.7952946 ,
         0.85385468,  0.09015511,  0.58414536,  0.9386555 ,  0.37147383],
       [ 0.00310164,  0.72070257,  0.27333587,  0.44714557,  0.28832845,
         0.60624479,  0.25773467,  0.71453001,  0.12938697,  0.42423273]])

In [67]:
#Immutable by the way.
rand_arr

array([[ 0.76598036,  0.26622801,  0.43621818,  0.60063919,  0.84231468,
         0.60165801,  0.89937411,  0.65316596,  0.45493577,  0.7527959 ],
       [ 0.79154838,  0.83279706,  0.76975161,  0.64443875,  0.6207478 ,
         0.35726474,  0.63228952,  0.51628505,  0.37884777,  0.77639672],
       [ 0.47253574,  0.77226709,  0.56979087,  0.46342519,  0.14438544,
         0.80617961,  0.31326394,  0.6771264 ,  0.54470543,  0.00299075],
       [ 0.71316539,  0.35161118,  0.68391696,  0.777979  ,  0.23839437,
         0.30514391,  0.9521189 ,  0.71137207,  0.79573995,  0.10368874],
       [ 0.81988098,  0.56896872,  0.08604797,  0.48410214,  0.97564305,
         0.19172189,  0.95468184,  0.8427705 ,  0.46621043,  0.22498018],
       [ 0.01409391,  0.52306012,  0.544521  ,  0.24866307,  0.59102704,
         0.46277995,  0.68626431,  0.08469175,  0.87414915,  0.91124935],
       [ 0.19746951,  0.60773579,  0.86827602,  0.8084157 ,  0.75030886,
         0.51246248,  0.34268923,  0.45640236,  0.69460238,  0.78296125],
       [ 0.65628478,  0.12236896,  0.53572243,  0.55420026,  0.56562   ,
         0.37437576,  0.09010307,  0.90973638,  0.4060271 ,  0.57777829],
       [ 0.8071032 ,  0.06831171,  0.1473094 ,  0.08243687,  0.7952946 ,
         0.85385468,  0.09015511,  0.58414536,  0.9386555 ,  0.37147383],
       [ 0.00310164,  0.72070257,  0.27333587,  0.44714557,  0.28832845,
         0.60624479,  0.25773467,  0.71453001,  0.12938697,  0.42423273]])

In [69]:
df = pd.DataFrame(rand_arr)
df

,0,1,2,3,4,5,6,7,8,9
0,0.765980,0.266228,0.436218,0.600639,0.842315,0.601658,0.899374,0.653166,0.454936,0.752796
1,0.791548,0.832797,0.769752,0.644439,0.620748,0.357265,0.632290,0.516285,0.378848,0.776397
2,0.472536,0.772267,0.569791,0.463425,0.144385,0.806180,0.313264,0.677126,0.544705,0.002991
3,0.713165,0.351611,0.683917,0.777979,0.238394,0.305144,0.952119,0.711372,0.795740,0.103689
4,0.819881,0.568969,0.086048,0.484102,0.975643,0.191722,0.954682,0.842771,0.466210,0.224980
5,0.014094,0.523060,0.544521,0.248663,0.591027,0.462780,0.686264,0.084692,0.874149,0.911249
6,0.197470,0.607736,0.868276,0.808416,0.750309,0.512462,0.342689,0.456402,0.694602,0.782961
7,0.656285,0.122369,0.535722,0.554200,0.565620,0.374376,0.090103,0.909736,0.406027,0.577778
8,0.807103,0.068312,0.147309,0.082437,0.795295,0.853855,0.090155,0.584145,0.938656,0.371474
9,0.003102,0.720703,0.273336,0.447146,0.288328,0.606245,0.257735,0.714530,0.129387,0.424233

In [70]:
dir(df)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_dir_additions',
 '_dir_deletions',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [72]:
df.cummax()

,0,1,2,3,4,5,6,7,8,9
0,0.765980,0.266228,0.436218,0.600639,0.842315,0.601658,0.899374,0.653166,0.454936,0.752796
1,0.791548,0.832797,0.769752,0.644439,0.842315,0.601658,0.899374,0.653166,0.454936,0.776397
2,0.791548,0.832797,0.769752,0.644439,0.842315,0.806180,0.899374,0.677126,0.544705,0.776397
3,0.791548,0.832797,0.769752,0.777979,0.842315,0.806180,0.952119,0.711372,0.795740,0.776397
4,0.819881,0.832797,0.769752,0.777979,0.975643,0.806180,0.954682,0.842771,0.795740,0.776397
5,0.819881,0.832797,0.769752,0.777979,0.975643,0.806180,0.954682,0.842771,0.874149,0.911249
6,0.819881,0.832797,0.868276,0.808416,0.975643,0.806180,0.954682,0.842771,0.874149,0.911249
7,0.819881,0.832797,0.868276,0.808416,0.975643,0.806180,0.954682,0.909736,0.874149,0.911249
8,0.819881,0.832797,0.868276,0.808416,0.975643,0.853855,0.954682,0.909736,0.938656,0.911249
9,0.819881,0.832797,0.868276,0.808416,0.975643,0.853855,0.954682,0.909736,0.938656,0.911249